<a href="https://colab.research.google.com/github/tku-sunchenpojui/introduction-to-computer/blob/main/%E3%80%8C410576523_ipynb%E3%80%8D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 0


for i in range(9):
  print("happy")

happy
happy
happy
happy
happy
happy
happy
happy
happy

In [2]:
for i in range(1,10,2):
  print(i,end=",")

1,3,5,7,9,

In [3]:
n = int(input())
total = 0
for i in range(1,n+1):
  total += i
print("1到{}的總和為{}".format(n,total))

100
1到100的總和為5050

In [5]:
n = int(input())
total = 0
for i in range(1,n+1):
  if i % 2 == 0:
   total += i
print("1到{}的所有奇數總合為{}".format(n,total))

100
1到100的所有奇數總合為2550